<form name="timepickerForm" class="form-inline" role="form">
    <div class="form-group">
        <label class="control-label"><i class="glyphicon glyphicon-calendar"></i> From:</label><br>
        <div class="form-group">
            <input type="text" size="10" class="form-control" ng-model="data.from" data-autoclose="1"
                   placeholder="Date" bs-datepicker ng-change="update()">
        </div>
        <div class="form-group">
            <input type="text" size="8" class="form-control" ng-model="data.from"
                   data-autoclose="1" placeholder="Time" bs-timepicker ng-change="update()">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label"><i class="glyphicon glyphicon-calendar"></i> To:</label><br>
        <div class="form-group">
            <input type="text" size="10" class="form-control" ng-model="data.to" data-autoclose="1"
                   placeholder="Date" bs-datepicker ng-change="update()">
        </div>
        <div class="form-group">
            <input type="text" size="8" class="form-control" ng-model="data.to"
                   data-autoclose="1" placeholder="Time" bs-timepicker ng-change="update()">
        </div>
    </div>
</form>
