<div>
    <h1>Login</h1>

    <form class="form-horizontal" ng-submit="submit()">
        <div class="form-group">
            <label class="col-sm-2 control-label">Login:</label>

            <div class="col-sm-10">
                <input type="text" ng-model="user.login" placeholder="Login">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Password:</label>

            <div class="col-sm-10">
                <input type="password" ng-model="user.password" placeholder="Password">
            </div>
        </div>

        <button class="btn btn-success" ng-disabled="error || incomplete" type="submit">
            <span class="glyphicon glyphicon-save"></span> Save Changes
        </button>
    </form>
</div>
